<div class="container">
  <div>
    <h3>Máscara</h3>
    <div class="container-itens">
      <div class="itens">
        <img src="../../../assets/images/required-mask.png" alt="Uso de Máscara Obrigatória">
        <p>Obrigatório</p>
      </div>
  
      <div class="itens">
        <img src="../../../assets/images/recommended-mask.png" alt="Uso de Máscara Recomendado">
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div>
    <h3>Toalha</h3>
    <div class="container-itens">
      <div class="itens">
        <img src="../../../assets/images/required-towel.png" alt="Uso de Máscara Obrigatória">
        <p>Obrigatório</p>
      </div>
  
      <div class="itens">
        <img src="../../../assets/images/recommended-towel.png" alt="Uso de Máscara Recomendado">
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div>
    <h3>Bebedouro</h3>
    <div class="container-itens">
      <div class="itens">
        <img src="../../../assets/images/partial-fountain.png" alt="Uso de Máscara Obrigatória">
        <p>Parcial</p>
      </div>
  
      <div class="itens">
        <img src="../../../assets/images/forbidden-fountain.png" alt="Uso de Máscara Recomendado">
        <p>Proibido</p>
      </div>
    </div>
  </div>

  <div>
    <h3>Vestiários</h3>
    <div class="container-itens">
      <div class="itens">
        <img src="../../../assets/images/partial-lockerroom.png" alt="Uso de Máscara Obrigatória">
        <p>Liberado</p>
      </div>
  
      <div class="itens">
        <img src="../../../assets/images/required-lockerroom.png" alt="Uso de Máscara Recomendado">
        <p>Parcial</p>
      </div>

      <div class="itens">
        <img src="../../../assets/images/forbidden-lockerroom.png" alt="Uso de Máscara Recomendado">
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>