.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .container-card {
    background-color: #eeeeee;
    width: 290px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    padding: 1rem;
    height: 490px;
  
    .status-open {
      font-size: .8rem;
      color: #2FC022;
      margin-bottom: 1rem;
    }
  
    .status-closed {
      font-size: .8rem;
      color: #dc0a17;
      margin-bottom: 1rem;
    }
  
    .location {
      margin-bottom: 1rem;
      color: #333333;
      height: 58px;
    }
  
    .street {
      color: #808080;
      font-size: .9rem;
      padding: 0rem 1rem .5rem 0rem;
      height: 67px;
    }
  
    .details {
      height: 2px;
      width: 100%;
      background-color: #d1d0d0;
      margin-bottom: 1rem;
    }
  
    .container-images {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
  
      img {
        width: 60px;
        height: 60px;
      }
    }
  
    .days {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      margin: 1rem 1rem 2rem 0rem;
      font-size: .9rem;
  
      div {
        display: flex;
        flex-direction: column;
  
        .day {
          font-size: 1.4rem;
          margin-bottom: .5rem;
          color: #333333;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .card {
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .card {
    justify-content: center;
  }
}
