<div class="container-card">
  <h3 class="status">Aberto</h3>

  <h2 class="location">Vicente Linhares</h2>

  <p class="street">Rua Tibúrcio Cavalcante, 1885 - Meireles Fortaleza, CE</p>
  <div class="details"></div>

  <div class="container-images">
    <img src="../../../assets/images/recommended-mask.png" alt="">
    <img src="../../../assets/images/recommended-mask.png" alt="">
    <img src="../../../assets/images/recommended-mask.png" alt="">
    <img src="../../../assets/images/recommended-mask.png" alt="">
  </div>

  <div class="days">
    <div>
      <p class="day">Seg. à Sex.</p>
      <p>06h às 22h</p>
    </div>

    <div>
      <p class="day">Sab.</p>
      <p>09h às 18h</p>
    </div>

    <div>
      <p class="day">Dom.</p>
      <p>Fechada</p>
    </div>
  </div>
</div>