<main>
  <section class="container-content">
    <h1>REABERTURA <br> SMART FIT</h1>
    <div class="detail"></div>
    <p>
      O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso, confira aqui se a sua unidade
      está aberta e as medidas de segurança que estamos seguindo.
    </p>

    <div class="container-filter">
      <div class="filter-header">
        <img src="../../../assets/images/icon-hour.png" alt="Ícone de um Relógio">
        <p>Horário</p>
      </div>

      <div>
        <h2 class="subtitle-filter">Qual é o período quer treinar?</h2>

        <div>
          <div class="hours-filter">
            <div>
              <input type="radio" value="Manhã">
              <label>Manhã</label><br>
            </div>
            <p>06:00 às 12:00</p>
          </div>

          <div class="hours-filter">
            <div>
              <input type="radio" value="Manhã">
              <label>Tarde</label><br>
            </div>
            <p>12:01 às 18:00</p>
          </div>

          <div class="hours-filter">
            <div>
              <input type="radio" value="Manhã">
              <label>Noite</label><br>
            </div>
            <p>18:01 às 23:00</p>
          </div>

          <div class="units-filter">
            <div class="units-checkbox">
              <input type="checkbox" name="" id="">
              <p>Exibir unidades fechadas</p>
            </div>

            <div>
              <p>Resultados encontrados: <span>0</span></p>
            </div>
          </div>
        </div>

        <div class="container-buttons">
          <button class="button-first">ENCONTRAR UNIDADE</button>
          <button class="button-second">LIMPAR</button>
        </div>
      </div>
    </div>

    <app-legend></app-legend>

    <div class="container-card">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </section>
</main>